body {
    --rh__primary-base: rgb(0, 200, 5);
    --rh__primary-hover: rgba(38, 208, 43, 1);
    --rh__primary-pressed: rgba(64, 214, 68, 1);
    --rh__primary-light-base: rgba(0, 200, 5, 0.4);
    --rh__primary-lightest-base: rgba(0, 200, 5, 0.2);
    --rh__semantic-positive-base: rgb(0, 200, 5);
    --rh__semantic-positive-light: rgba(0, 200, 5, 0.4);
    --rh__semantic-negative-base: rgb(255, 80, 0);
    --rh__semantic-negative-light: rgba(255, 80, 0, 0.4);
    --rh__semantic-success-base: rgb(0, 200, 5);
    --rh__semantic-success-light: rgba(0, 200, 5, 0.4);
    --rh__semantic-error-base: rgb(255, 80, 0);
    --rh__semantic-error-light: rgba(255, 80, 0, 0.4);
    --rh__semantic-scary-base: rgb(255, 80, 0);
    --rh__semantic-scary-light: rgba(255, 80, 0, 0.4);
    --rh__primary-textOverlay: var(--rh__neutral-bg1);
    --rh__primary-light-textOverlay: var(--rh__primary-base);
    --rh__primary-lightest-textOverlay: var(--rh__primary-base);
    --rh-LEGACY__primary-color-hover: rgba(38, 208, 43, 1);
    --rh__neutral-fg1: rgb(255, 255, 255);
    --rh__neutral-fg2: rgb(145, 159, 166);
    --rh__neutral-fg3: rgb(84, 93, 97);
    --rh__neutral-bg3: rgb(48, 54, 58);
    --rh__neutral-bg2: rgb(30, 33, 36);
    --rh__neutral-bg1: rgb(0, 0, 0);
    --rh__neutral-hover-fg1: rgba(242, 242, 242, 1);
    --rh__neutral-hover-fg2: rgba(138, 151, 158, 1);
    --rh__neutral-hover-fg3: rgba(80, 88, 92, 1);
    --rh__neutral-hover-bg1: rgba(26, 26, 26, 1);
    --rh__neutral-hover-bg2: rgba(53, 55, 58, 1);
    --rh__neutral-hover-bg3: rgba(69, 74, 78, 1);
    --rh__neutral-pressed-fg1: rgba(230, 230, 230, 1);
    --rh__neutral-pressed-fg2: rgba(131, 143, 149, 1);
    --rh__neutral-pressed-fg3: rgba(76, 84, 87, 1);
    --rh__neutral-pressed-bg1: rgba(51, 51, 51, 1);
    --rh__neutral-pressed-bg2: rgba(75, 77, 80, 1);
    --rh__neutral-pressed-bg3: rgba(89, 94, 97, 1);
    --rh__text-color: rgb(255, 255, 255);
    --rh__shadow__s1: rgba(0, 0, 0, 0.6);
    --rh__shadow__s2: rgba(0, 0, 0, 0.02);
    --rh__focus-inner-color: rgb(0, 127, 245);
    --rh__focus-outer-color: rgba(0, 127, 245, 0.4);
    --rh__type-palette__bookCoverCapsuleL__font-size: 72px;
    --rh__type-palette__bookCoverCapsuleL__font-weight: 400;
    --rh__type-palette__bookCoverCapsuleL__letter-spacing: -2px;
    --rh__type-palette__bookCoverCapsuleL__line-height: 1.22;
    --rh__type-palette__bookCoverCapsuleL__stack: "Capsule Sans Book Cover", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__bookCoverCapsuleM__font-size: 56px;
    --rh__type-palette__bookCoverCapsuleM__font-weight: 400;
    --rh__type-palette__bookCoverCapsuleM__letter-spacing: -1.33px;
    --rh__type-palette__bookCoverCapsuleM__line-height: 1.22;
    --rh__type-palette__bookCoverCapsuleM__stack: "Capsule Sans Book Cover", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__bookCoverCapsuleS__font-size: 44px;
    --rh__type-palette__bookCoverCapsuleS__font-weight: 400;
    --rh__type-palette__bookCoverCapsuleS__letter-spacing: -1.33px;
    --rh__type-palette__bookCoverCapsuleS__line-height: 1.22;
    --rh__type-palette__bookCoverCapsuleS__stack: "Capsule Sans Book Cover", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__bookCoverNibL__font-size: 72px;
    --rh__type-palette__bookCoverNibL__font-weight: 300;
    --rh__type-palette__bookCoverNibL__letter-spacing: -2px;
    --rh__type-palette__bookCoverNibL__line-height: 1.22;
    --rh__type-palette__bookCoverNibL__stack: "Nib Pro Book Cover", Georgia, serif;
    --rh__type-palette__bookCoverNibM__font-size: 56px;
    --rh__type-palette__bookCoverNibM__font-weight: 300;
    --rh__type-palette__bookCoverNibM__letter-spacing: -1.33px;
    --rh__type-palette__bookCoverNibM__line-height: 1.22;
    --rh__type-palette__bookCoverNibM__stack: "Nib Pro Book Cover", Georgia, serif;
    --rh__type-palette__bookCoverNibS__font-size: 44px;
    --rh__type-palette__bookCoverNibS__font-weight: 300;
    --rh__type-palette__bookCoverNibS__letter-spacing: -1px;
    --rh__type-palette__bookCoverNibS__line-height: 1.22;
    --rh__type-palette__bookCoverNibS__stack: "Nib Pro Book Cover", Georgia, serif;
    --rh__type-palette__displayCapsuleL__font-size: 32px;
    --rh__type-palette__displayCapsuleL__font-weight: 500;
    --rh__type-palette__displayCapsuleL__letter-spacing: -0.33px;
    --rh__type-palette__displayCapsuleL__line-height: 1.25;
    --rh__type-palette__displayCapsuleL__stack: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__displayCapsuleM__font-size: 24px;
    --rh__type-palette__displayCapsuleM__font-weight: 500;
    --rh__type-palette__displayCapsuleM__letter-spacing: -0.1px;
    --rh__type-palette__displayCapsuleM__line-height: 1.35;
    --rh__type-palette__displayCapsuleM__stack: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__displayCapsuleS__font-size: 21px;
    --rh__type-palette__displayCapsuleS__font-weight: 500;
    --rh__type-palette__displayCapsuleS__letter-spacing: -0.1px;
    --rh__type-palette__displayCapsuleS__line-height: 1.35;
    --rh__type-palette__displayCapsuleS__stack: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__displayNibL__font-size: 32px;
    --rh__type-palette__displayNibL__font-weight: 300;
    --rh__type-palette__displayNibL__letter-spacing: -0.33px;
    --rh__type-palette__displayNibL__line-height: 1.25;
    --rh__type-palette__displayNibL__stack: "Nib Pro Display", Georgia, serif;
    --rh__type-palette__displayNibM__font-size: 24px;
    --rh__type-palette__displayNibM__font-weight: 400;
    --rh__type-palette__displayNibM__letter-spacing: -0.33px;
    --rh__type-palette__displayNibM__line-height: 1.35;
    --rh__type-palette__displayNibM__stack: "Nib Pro Display", Georgia, serif;
    --rh__type-palette__displayNibS__font-size: 21px;
    --rh__type-palette__displayNibS__font-weight: 400;
    --rh__type-palette__displayNibS__letter-spacing: -0.1px;
    --rh__type-palette__displayNibS__line-height: 1.35;
    --rh__type-palette__displayNibS__stack: "Nib Pro Display", Georgia, serif;
    --rh__type-palette__textL__font-size: 18px;
    --rh__type-palette__textL__font-weight: 400;
    --rh__type-palette__textL__letter-spacing: -0.25px;
    --rh__type-palette__textL__line-height: 1.53;
    --rh__type-palette__textL__stack: "Capsule Sans Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__textLBold__font-size: 18px;
    --rh__type-palette__textLBold__font-weight: 700;
    --rh__type-palette__textLBold__letter-spacing: -0.25px;
    --rh__type-palette__textLBold__line-height: 1.53;
    --rh__type-palette__textLBold__stack: "Capsule Sans Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__textM__font-size: 15px;
    --rh__type-palette__textM__font-weight: 400;
    --rh__type-palette__textM__letter-spacing: -0.1px;
    --rh__type-palette__textM__line-height: 1.6;
    --rh__type-palette__textM__stack: "Capsule Sans Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__textMBold__font-size: 15px;
    --rh__type-palette__textMBold__font-weight: 700;
    --rh__type-palette__textMBold__letter-spacing: -0.1px;
    --rh__type-palette__textMBold__line-height: 1.6;
    --rh__type-palette__textMBold__stack: "Capsule Sans Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__textS__font-size: 13px;
    --rh__type-palette__textS__font-weight: 400;
    --rh__type-palette__textS__letter-spacing: -0.1px;
    --rh__type-palette__textS__line-height: 1.53;
    --rh__type-palette__textS__stack: "Capsule Sans Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__textSBold__font-size: 13px;
    --rh__type-palette__textSBold__font-weight: 700;
    --rh__type-palette__textSBold__letter-spacing: -0.1px;
    --rh__type-palette__textSBold__line-height: 1.53;
    --rh__type-palette__textSBold__stack: "Capsule Sans Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__size-palette___experimentalAnchorTableStickyHeaderZIndex: 1;
    --rh__size-palette___experimentalModalZIndex: 301;
    --rh__size-palette___experimentalNavBarZIndex: 100;
    --rh__size-palette___experimentalPopoverZIndex: 1;
    --rh__size-palette___experimentalSelectMenuZIndex: 500;
    --rh__size-palette___experimentalToastZIndex: 600;
    --rh__size-palette__borderRadius: 4px;
    --rh__size-palette__buttonHeight: 44px;
    --rh__size-palette__cellHeight: 48px;
    --rh__size-palette__cellHeightLg: 60px;
    --rh__size-palette__cellHeightSm: 36px;
    --rh__size-palette__gutterWidth: 12px;
    --rh__size-palette__gutterWidthSm: 8px;
    --rh__size-palette__gutterWidthXs: 4px;
    --rh__size-palette__largeInputPadding: 20px;
    color-scheme: dark;
}

@media all {
    html {
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        line-height: 1.15;
    }

    footer,
    header {
        display: block;
    }

    a {
        -webkit-text-decoration-skip: objects;
        background-color: transparent;
    }

    img {
        border-style: none;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    button,
    input {
        font-family: sans-serif;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
    }

    button,
    input {
        overflow: visible;
    }

    button {
        text-transform: none;
    }

    [type=submit],
    button,
    html [type=button] {
        -webkit-appearance: button;
    }

    [type=checkbox] {
        box-sizing: border-box;
        padding: 0;
    }

    body {
        -webkit-text-size-adjust: none;
        font-family: Capsule Sans Text, -apple-system, BlinkMacSystemFont, sans-serif;
    }

    button,
    input {
        font-family: inherit;
    }

    :invalid {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    html {
        -webkit-tap-highlight-color: transparent;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    *,
    :after,
    :before {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }

    body {
        font-size: 13px;
        font-weight: 400;
        letter-spacing: -.1px;
        line-height: 20px;
        margin: 0;
    }

    body {
        color: var(--rh__neutral-fg1);
    }

    #react_root,
    body,
    html {
        margin: 0;
        padding: 0;
    }

    svg:not(:root) {
        overflow: visible;
    }
}

.css-1byi2su {
    color: inherit;
    text-decoration: inherit;
}

.css-za6pwx {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    height: 100%;
}

.css-5sconx {
    flex: 0 1 12.5%;
    -webkit-box-flex: 0;
}

.css-1ox8jnp {
    flex: 1 1 50%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

@media (max-width: 768px) {
    .css-1ox8jnp {
        display: none;
    }
}

.css-1yhwo80 {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: 52px;
    margin-right: 52px;
    max-width: 592px;
    padding-bottom: 12px;
}

.css-1os47tj {
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .css-1os47tj {
        display: block;
    }
}

.css-eyq2zi {
    background-color: var(--rh__neutral-bg1);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.css-1wstayn {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
}

.css-z4smye {
    margin: 0px;
    color: var(--rh__text-color);
    font-family: var(--rh__type-palette__displayCapsuleS__stack);
    font-size: var(--rh__type-palette__displayCapsuleS__font-size);
    font-style: normal;
    font-weight: var(--rh__type-palette__displayCapsuleS__font-weight);
    letter-spacing: var(--rh__type-palette__displayCapsuleS__letter-spacing);
    line-height: var(--rh__type-palette__displayCapsuleS__line-height);
    text-decoration: unset;
}

.css-y3z1hq {
    margin: 0px;
    color: var(--rh__text-color);
    font-family: var(--rh__type-palette__textS__stack);
    font-size: var(--rh__type-palette__textS__font-size);
    font-style: normal;
    font-weight: var(--rh__type-palette__textS__font-weight);
    letter-spacing: var(--rh__type-palette__textS__letter-spacing);
    line-height: var(--rh__type-palette__textS__line-height);
    text-decoration: unset;
}

.css-v72tci {
    margin: 0px;
    color: var(--rh__text-color);
    font-family: var(--rh__type-palette__textSBold__stack);
    font-size: var(--rh__type-palette__textSBold__font-size);
    font-style: normal;
    font-weight: var(--rh__type-palette__textSBold__font-weight);
    letter-spacing: var(--rh__type-palette__textSBold__letter-spacing);
    line-height: var(--rh__type-palette__textSBold__line-height);
    text-decoration: unset;
}

.css-10hobi0 {
    margin: 0px;
    color: var(--rh__text-color);
    font-family: var(--rh__type-palette__textM__stack);
    font-size: var(--rh__type-palette__textM__font-size);
    font-style: normal;
    font-weight: var(--rh__type-palette__textM__font-weight);
    letter-spacing: var(--rh__type-palette__textM__letter-spacing);
    line-height: var(--rh__type-palette__textM__line-height);
    text-decoration: unset;
}

body {
    --rh__primary-base: rgb(0, 200, 5);
    --rh__primary-hover: rgba(0, 180, 5, 1);
    --rh__primary-pressed: rgba(0, 160, 4, 1);
    --rh__primary-light-base: rgba(0, 200, 5, 0.3);
    --rh__primary-lightest-base: rgba(0, 200, 5, 0.1);
    --rh__semantic-positive-base: rgb(0, 200, 5);
    --rh__semantic-positive-light: rgba(0, 200, 5, 0.3);
    --rh__semantic-negative-base: rgb(255, 80, 0);
    --rh__semantic-negative-light: rgba(255, 80, 0, 0.3);
    --rh__semantic-success-base: rgb(0, 200, 5);
    --rh__semantic-success-light: rgba(0, 200, 5, 0.3);
    --rh__semantic-error-base: rgb(255, 80, 0);
    --rh__semantic-error-light: rgba(255, 80, 0, 0.3);
    --rh__semantic-scary-base: rgb(255, 80, 0);
    --rh__semantic-scary-light: rgba(255, 80, 0, 0.3);
    --rh__primary-textOverlay: var(--rh__neutral-bg1);
    --rh__primary-light-textOverlay: var(--rh__primary-base);
    --rh__primary-lightest-textOverlay: var(--rh__primary-base);
    --rh-LEGACY__primary-color-hover: rgba(0, 180, 5, 1);
    --rh__neutral-fg1: rgb(0, 0, 0);
    --rh__neutral-fg2: rgb(106, 114, 120);
    --rh__neutral-fg3: rgb(180, 189, 194);
    --rh__neutral-bg3: rgb(227, 233, 237);
    --rh__neutral-bg2: rgb(245, 248, 250);
    --rh__neutral-bg1: rgb(255, 255, 255);
    --rh__neutral-hover-fg1: rgba(38, 38, 38, 1);
    --rh__neutral-hover-fg2: rgba(128, 135, 140, 1);
    --rh__neutral-hover-fg3: rgba(191, 199, 203, 1);
    --rh__neutral-hover-bg1: rgba(242, 242, 242, 1);
    --rh__neutral-hover-bg2: rgba(233, 236, 237, 1);
    --rh__neutral-hover-bg3: rgba(216, 221, 225, 1);
    --rh__neutral-pressed-fg1: rgba(64, 64, 64, 1);
    --rh__neutral-pressed-fg2: rgba(143, 149, 154, 1);
    --rh__neutral-pressed-fg3: rgba(199, 206, 209, 1);
    --rh__neutral-pressed-bg1: rgba(230, 230, 230, 1);
    --rh__neutral-pressed-bg2: rgba(221, 223, 225, 1);
    --rh__neutral-pressed-bg3: rgba(204, 210, 213, 1);
    --rh__text-color: rgb(0, 0, 0);
    --rh__shadow__s1: rgba(0, 0, 0, 0.06);
    --rh__shadow__s2: rgba(0, 0, 0, 0.02);
    --rh__focus-inner-color: rgb(0, 127, 245);
    --rh__focus-outer-color: rgba(0, 127, 245, 0.25);
    --rh__type-palette__bookCoverCapsuleL__font-size: 72px;
    --rh__type-palette__bookCoverCapsuleL__font-weight: 400;
    --rh__type-palette__bookCoverCapsuleL__letter-spacing: -2px;
    --rh__type-palette__bookCoverCapsuleL__line-height: 1.22;
    --rh__type-palette__bookCoverCapsuleL__stack: "Capsule Sans Book Cover", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__bookCoverCapsuleM__font-size: 56px;
    --rh__type-palette__bookCoverCapsuleM__font-weight: 400;
    --rh__type-palette__bookCoverCapsuleM__letter-spacing: -1.33px;
    --rh__type-palette__bookCoverCapsuleM__line-height: 1.22;
    --rh__type-palette__bookCoverCapsuleM__stack: "Capsule Sans Book Cover", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__bookCoverCapsuleS__font-size: 44px;
    --rh__type-palette__bookCoverCapsuleS__font-weight: 400;
    --rh__type-palette__bookCoverCapsuleS__letter-spacing: -1.33px;
    --rh__type-palette__bookCoverCapsuleS__line-height: 1.22;
    --rh__type-palette__bookCoverCapsuleS__stack: "Capsule Sans Book Cover", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__bookCoverNibL__font-size: 72px;
    --rh__type-palette__bookCoverNibL__font-weight: 300;
    --rh__type-palette__bookCoverNibL__letter-spacing: -2px;
    --rh__type-palette__bookCoverNibL__line-height: 1.22;
    --rh__type-palette__bookCoverNibL__stack: "Nib Pro Book Cover", Georgia, serif;
    --rh__type-palette__bookCoverNibM__font-size: 56px;
    --rh__type-palette__bookCoverNibM__font-weight: 300;
    --rh__type-palette__bookCoverNibM__letter-spacing: -1.33px;
    --rh__type-palette__bookCoverNibM__line-height: 1.22;
    --rh__type-palette__bookCoverNibM__stack: "Nib Pro Book Cover", Georgia, serif;
    --rh__type-palette__bookCoverNibS__font-size: 44px;
    --rh__type-palette__bookCoverNibS__font-weight: 300;
    --rh__type-palette__bookCoverNibS__letter-spacing: -1px;
    --rh__type-palette__bookCoverNibS__line-height: 1.22;
    --rh__type-palette__bookCoverNibS__stack: "Nib Pro Book Cover", Georgia, serif;
    --rh__type-palette__displayCapsuleL__font-size: 32px;
    --rh__type-palette__displayCapsuleL__font-weight: 500;
    --rh__type-palette__displayCapsuleL__letter-spacing: -0.33px;
    --rh__type-palette__displayCapsuleL__line-height: 1.25;
    --rh__type-palette__displayCapsuleL__stack: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__displayCapsuleM__font-size: 24px;
    --rh__type-palette__displayCapsuleM__font-weight: 500;
    --rh__type-palette__displayCapsuleM__letter-spacing: -0.1px;
    --rh__type-palette__displayCapsuleM__line-height: 1.35;
    --rh__type-palette__displayCapsuleM__stack: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__displayCapsuleS__font-size: 21px;
    --rh__type-palette__displayCapsuleS__font-weight: 500;
    --rh__type-palette__displayCapsuleS__letter-spacing: -0.1px;
    --rh__type-palette__displayCapsuleS__line-height: 1.35;
    --rh__type-palette__displayCapsuleS__stack: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__displayNibL__font-size: 32px;
    --rh__type-palette__displayNibL__font-weight: 300;
    --rh__type-palette__displayNibL__letter-spacing: -0.33px;
    --rh__type-palette__displayNibL__line-height: 1.25;
    --rh__type-palette__displayNibL__stack: "Nib Pro Display", Georgia, serif;
    --rh__type-palette__displayNibM__font-size: 24px;
    --rh__type-palette__displayNibM__font-weight: 400;
    --rh__type-palette__displayNibM__letter-spacing: -0.33px;
    --rh__type-palette__displayNibM__line-height: 1.35;
    --rh__type-palette__displayNibM__stack: "Nib Pro Display", Georgia, serif;
    --rh__type-palette__displayNibS__font-size: 21px;
    --rh__type-palette__displayNibS__font-weight: 400;
    --rh__type-palette__displayNibS__letter-spacing: -0.1px;
    --rh__type-palette__displayNibS__line-height: 1.35;
    --rh__type-palette__displayNibS__stack: "Nib Pro Display", Georgia, serif;
    --rh__type-palette__textL__font-size: 18px;
    --rh__type-palette__textL__font-weight: 400;
    --rh__type-palette__textL__letter-spacing: -0.25px;
    --rh__type-palette__textL__line-height: 1.53;
    --rh__type-palette__textL__stack: "Capsule Sans Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__textLBold__font-size: 18px;
    --rh__type-palette__textLBold__font-weight: 700;
    --rh__type-palette__textLBold__letter-spacing: -0.25px;
    --rh__type-palette__textLBold__line-height: 1.53;
    --rh__type-palette__textLBold__stack: "Capsule Sans Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__textM__font-size: 15px;
    --rh__type-palette__textM__font-weight: 400;
    --rh__type-palette__textM__letter-spacing: -0.1px;
    --rh__type-palette__textM__line-height: 1.6;
    --rh__type-palette__textM__stack: "Capsule Sans Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__textMBold__font-size: 15px;
    --rh__type-palette__textMBold__font-weight: 700;
    --rh__type-palette__textMBold__letter-spacing: -0.1px;
    --rh__type-palette__textMBold__line-height: 1.6;
    --rh__type-palette__textMBold__stack: "Capsule Sans Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__textS__font-size: 13px;
    --rh__type-palette__textS__font-weight: 400;
    --rh__type-palette__textS__letter-spacing: -0.1px;
    --rh__type-palette__textS__line-height: 1.53;
    --rh__type-palette__textS__stack: "Capsule Sans Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__textSBold__font-size: 13px;
    --rh__type-palette__textSBold__font-weight: 700;
    --rh__type-palette__textSBold__letter-spacing: -0.1px;
    --rh__type-palette__textSBold__line-height: 1.53;
    --rh__type-palette__textSBold__stack: "Capsule Sans Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__size-palette___experimentalAnchorTableStickyHeaderZIndex: 1;
    --rh__size-palette___experimentalModalZIndex: 301;
    --rh__size-palette___experimentalNavBarZIndex: 100;
    --rh__size-palette___experimentalPopoverZIndex: 1;
    --rh__size-palette___experimentalSelectMenuZIndex: 500;
    --rh__size-palette___experimentalToastZIndex: 600;
    --rh__size-palette__borderRadius: 4px;
    --rh__size-palette__buttonHeight: 44px;
    --rh__size-palette__cellHeight: 48px;
    --rh__size-palette__cellHeightLg: 60px;
    --rh__size-palette__cellHeightSm: 36px;
    --rh__size-palette__gutterWidth: 12px;
    --rh__size-palette__gutterWidthSm: 8px;
    --rh__size-palette__gutterWidthXs: 4px;
    --rh__size-palette__largeInputPadding: 20px;
    color-scheme: light;
}

@media (min-width: 1049px) {
    body {
        --rh__type-palette__bookCoverCapsuleM__font-size: 64px;
        --rh__type-palette__bookCoverCapsuleM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverCapsuleM__line-height: 1.25;
        --rh__type-palette__bookCoverNibM__font-size: 64px;
        --rh__type-palette__bookCoverNibM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverNibM__line-height: 1.25;
    }
}

.web-app-emotion-cache-13udsys {
    height: 100%;
}

.web-app-emotion-cache-52qs92 {
    margin-bottom: 36px;
    margin-top: 12px;
}

.web-app-emotion-cache-13dpkcn {
    display: grid;
    gap: 24px;
}

.web-app-emotion-cache-1rqauel {
    max-width: 640px;
    min-width: 39px;
    width: 100%;
}

.web-app-emotion-cache-8atqhb {
    width: 100%;
}

.web-app-emotion-cache-1te2hl9 {
    margin-bottom: var(--rh__size-palette__gutterWidthSm);
}

.web-app-emotion-cache-19dkwrt {
    background-color: var(--rh__neutral-bg1);
    border-radius: var(--rh__size-palette__borderRadius);
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    transition: border-color 200ms;
    border-color: var(--rh__neutral-bg3);
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: var(--rh__size-palette__cellHeightSm);
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

.web-app-emotion-cache-19dkwrt:hover:not(:focus-within) {
    border-color: var(--rh__neutral-fg3);
}

.web-app-emotion-cache-3t1xt4 {
    color: var(--rh__text-color);
    font-family: var(--rh__type-palette__textS__stack);
    font-size: var(--rh__type-palette__textS__font-size);
    font-style: normal;
    font-weight: var(--rh__type-palette__textS__font-weight);
    letter-spacing: var(--rh__type-palette__textS__letter-spacing);
    line-height: var(--rh__type-palette__textS__line-height);
    text-decoration: unset;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 13px;
    padding: 0px;
    background: transparent;
    border: none;
    flex: 1 1 0%;
    outline: none;
}

.web-app-emotion-cache-3t1xt4::placeholder {
    color: var(--rh__neutral-fg2);
}

.web-app-emotion-cache-3t1xt4:focus::placeholder {
    color: var(--rh__neutral-fg3);
}

.web-app-emotion-cache-12bmans {
    max-width: 640px;
    min-width: 67px;
    width: 100%;
}

.web-app-emotion-cache-1ptvuh2 {
    background-color: var(--rh__neutral-bg1);
    border-radius: var(--rh__size-palette__borderRadius);
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    transition: border-color 200ms;
    border-color: var(--rh__neutral-bg3);
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: var(--rh__size-palette__cellHeightSm);
    padding-left: 12px;
    padding-right: 8px;
    width: 100%;
}

.web-app-emotion-cache-1ptvuh2:hover:not(:focus-within) {
    border-color: var(--rh__neutral-fg3);
}

.web-app-emotion-cache-22vpzz {
    color: var(--rh__text-color);
    font-family: var(--rh__type-palette__textS__stack);
    font-size: var(--rh__type-palette__textS__font-size);
    font-style: normal;
    font-weight: var(--rh__type-palette__textS__font-weight);
    letter-spacing: var(--rh__type-palette__textS__letter-spacing);
    line-height: var(--rh__type-palette__textS__line-height);
    text-decoration: unset;
    height: 100%;
    margin-left: 0px;
    margin-right: 8px;
    min-width: 13px;
    padding: 0px;
    background: transparent;
    border: none;
    flex: 1 1 0%;
    outline: none;
}

.web-app-emotion-cache-22vpzz::placeholder {
    color: var(--rh__neutral-fg2);
}

.web-app-emotion-cache-22vpzz:focus::placeholder {
    color: var(--rh__neutral-fg3);
}

.web-app-emotion-cache-zvjitd {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
}

.web-app-emotion-cache-16fsaft {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.web-app-emotion-cache-1c6vscd {
    display: inherit;
}

.web-app-emotion-cache-33m7fw {
    align-items: flex-start;
    display: flex;
}

.web-app-emotion-cache-fu7gfn {
    display: flex;
    margin-right: var(--rh__size-palette__gutterWidth);
    padding-top: calc((var(--rh__type-palette__textS__line-height) * var(--rh__type-palette__textS__font-size) - 16px) / 2);
}

.web-app-emotion-cache-13aqjzy {
    display: inline-block;
}

.web-app-emotion-cache-14s5ose {
    border: 0px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.web-app-emotion-cache-j4nkii {
    background-color: var(--rh__neutral-bg1);
    border-color: var(--rh__neutral-fg2);
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    height: 16px;
    width: 16px;
}

body:not(.no-focus-outline) input:focus+.web-app-emotion-cache-j4nkii {
    box-shadow: 0 0 0 1px var(--rh__focus-inner-color), 0 0 0 4px var(--rh__focus-outer-color);
    border-color: var(--rh__neutral-fg3);
}

input:active+.web-app-emotion-cache-j4nkii,
.web-app-emotion-cache-j4nkii:active {
    border-color: var(--rh__neutral-fg3);
}

input:disabled+.web-app-emotion-cache-j4nkii {
    background-color: var(--rh__neutral-bg2);
    border-color: var(--rh__neutral-bg3);
}

input:hover+.web-app-emotion-cache-j4nkii,
.web-app-emotion-cache-j4nkii:hover {
    border-color: var(--rh__neutral-fg1);
}

.web-app-emotion-cache-1ajn24b {
    -webkit-box-align: start;
    align-items: start;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.web-app-emotion-cache-1llaoxs {
    color: inherit;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    text-decoration-color: var(--rh__neutral-fg1);
    text-decoration-line: underline;
    text-underline-offset: 3px;
}

.web-app-emotion-cache-1llaoxs:hover {
    --rh__neutral-fg1: var(--rh__primary-base);
    --rh__text-color: var(--rh__primary-base);
    color: var(--rh__text-color);
}

.web-app-emotion-cache-1llaoxs:active {
    --rh__neutral-fg1: var(--rh__primary-pressed);
    --rh__text-color: var(--rh__primary-base);
    color: var(--rh__text-color);
}

.web-app-emotion-cache-dwjtkn {
    display: flex;
    flex-direction: column;
}

.web-app-emotion-cache-1eorgfy {
    margin-bottom: 48px;
    margin-top: 48px;
}

.web-app-emotion-cache-skipym {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    background: none currentcolor;
    border: 0px;
    font: inherit;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: unset;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    border-radius: var(--rh__size-palette__buttonHeight);
    color: var(--rh__primary-base);
    height: var(--rh__size-palette__buttonHeight);
    max-width: 420px;
    min-width: 120px;
    padding-left: calc(4 * var(--rh__size-palette__gutterWidth));
    padding-right: calc(4 * var(--rh__size-palette__gutterWidth));
    white-space: nowrap;
}

.web-app-emotion-cache-skipym:hover {
    background-color: var(--rh__primary-hover);
}

.web-app-emotion-cache-skipym:active {
    background-color: var(--rh__primary-pressed);
}

.web-app-emotion-cache-11p3it6 {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    gap: 12px;
    text-align: center;
    width: 100%;
}

.web-app-emotion-cache-12y04o6 {
    border-color: var(--rh__neutral-bg3);
    border-top-style: solid;
    border-top-width: 1px;
    flex: 1 1 0%;
    height: 1px;
}

.web-app-emotion-cache-1sstyyn {
    margin: 40px 0px;
}

.web-app-emotion-cache-1e7mxex {
    display: inline-flex;
    margin-left: 0px;
    margin-right: var(--rh__size-palette__gutterWidthSm);
}

.web-app-emotion-cache-1hw29i9 {
    margin-top: 12px;
}

.web-app-emotion-cache-p9rxez {
    --rh__primary-base: rgb(0, 0, 0);
    --rh__primary-hover: rgba(38, 38, 38, 1);
    --rh__primary-pressed: rgba(64, 64, 64, 1);
    --rh__primary-light-base: rgba(0, 0, 0, 0.3);
    --rh__primary-lightest-base: rgba(0, 0, 0, 0.1);
    --rh__semantic-positive-base: rgb(0, 200, 5);
    --rh__semantic-positive-light: rgba(0, 200, 5, 0.3);
    --rh__semantic-negative-base: rgb(255, 80, 0);
    --rh__semantic-negative-light: rgba(255, 80, 0, 0.3);
    --rh__semantic-success-base: rgb(0, 200, 5);
    --rh__semantic-success-light: rgba(0, 200, 5, 0.3);
    --rh__semantic-error-base: rgb(255, 80, 0);
    --rh__semantic-error-light: rgba(255, 80, 0, 0.3);
    --rh__semantic-scary-base: rgb(255, 80, 0);
    --rh__semantic-scary-light: rgba(255, 80, 0, 0.3);
    --rh__primary-textOverlay: var(--rh__neutral-bg1);
    --rh__primary-light-textOverlay: var(--rh__primary-base);
    --rh__primary-lightest-textOverlay: var(--rh__primary-base);
    --rh-LEGACY__primary-color-hover: rgba(38, 38, 38, 1);
    color: var(--rh__text-color);
    color-scheme: light;
}

@media (min-width: 1049px) {
    .web-app-emotion-cache-p9rxez {
        --rh__type-palette__bookCoverCapsuleM__font-size: 64px;
        --rh__type-palette__bookCoverCapsuleM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverCapsuleM__line-height: 1.25;
        --rh__type-palette__bookCoverNibM__font-size: 64px;
        --rh__type-palette__bookCoverNibM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverNibM__line-height: 1.25;
    }
}

.web-app-emotion-cache-1xmir16 {
    --rh__text-color: var(--rh__neutral-fg1);
    color: var(--rh__text-color);
    color-scheme: light;
}

@media (min-width: 1049px) {
    .web-app-emotion-cache-1xmir16 {
        --rh__type-palette__bookCoverCapsuleM__font-size: 64px;
        --rh__type-palette__bookCoverCapsuleM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverCapsuleM__line-height: 1.25;
        --rh__type-palette__bookCoverNibM__font-size: 64px;
        --rh__type-palette__bookCoverNibM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverNibM__line-height: 1.25;
    }
}

.web-app-emotion-cache-9l4dti {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    background-image: none;
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    border: 0px;
    font: inherit;
    padding: 0px;
    text-align: unset;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--rh__hoverable-color-255-255-255-none);
    border-radius: var(--rh__size-palette__borderRadius);
    height: 24px;
    width: 24px;
    flex: 0 0 auto;
    --rh__hoverable-color-255-255-255-none: rgb(255, 255, 255);
    --rh__text-color: var(--rh__neutral-fg1);
    color: var(--rh__text-color);
    color-scheme: light;
}

.web-app-emotion-cache-9l4dti:hover {
    --rh__hoverable-color-255-255-255-none: rgba(242, 242, 242, 1);
    color: var(--rh__text-color);
}

.web-app-emotion-cache-9l4dti:active {
    --rh__hoverable-color-255-255-255-none: rgba(230, 230, 230, 1);
    color: var(--rh__text-color);
}

@media (min-width: 1049px) {
    .web-app-emotion-cache-9l4dti {
        --rh__type-palette__bookCoverCapsuleM__font-size: 64px;
        --rh__type-palette__bookCoverCapsuleM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverCapsuleM__line-height: 1.25;
        --rh__type-palette__bookCoverNibM__font-size: 64px;
        --rh__type-palette__bookCoverNibM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverNibM__line-height: 1.25;
    }
}

.web-app-emotion-cache-1am54wq {
    --rh__primary-base: rgb(0, 0, 0);
    --rh__primary-hover: rgba(38, 38, 38, 1);
    --rh__primary-pressed: rgba(64, 64, 64, 1);
    --rh__primary-light-base: rgba(0, 0, 0, 0.3);
    --rh__primary-lightest-base: rgba(0, 0, 0, 0.1);
    --rh__semantic-positive-base: rgb(0, 200, 5);
    --rh__semantic-positive-light: rgba(0, 200, 5, 0.3);
    --rh__semantic-negative-base: rgb(255, 80, 0);
    --rh__semantic-negative-light: rgba(255, 80, 0, 0.3);
    --rh__semantic-success-base: rgb(0, 200, 5);
    --rh__semantic-success-light: rgba(0, 200, 5, 0.3);
    --rh__semantic-error-base: rgb(255, 80, 0);
    --rh__semantic-error-light: rgba(255, 80, 0, 0.3);
    --rh__semantic-scary-base: rgb(255, 80, 0);
    --rh__semantic-scary-light: rgba(255, 80, 0, 0.3);
    --rh__primary-textOverlay: var(--rh__neutral-bg1);
    --rh__primary-light-textOverlay: var(--rh__primary-base);
    --rh__primary-lightest-textOverlay: var(--rh__primary-base);
    --rh-LEGACY__primary-color-hover: rgba(38, 38, 38, 1);
    --rh__text-color: var(--rh__neutral-bg1);
    color: var(--rh__text-color);
    color-scheme: light;
}

@media (min-width: 1049px) {
    .web-app-emotion-cache-1am54wq {
        --rh__type-palette__bookCoverCapsuleM__font-size: 64px;
        --rh__type-palette__bookCoverCapsuleM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverCapsuleM__line-height: 1.25;
        --rh__type-palette__bookCoverNibM__font-size: 64px;
        --rh__type-palette__bookCoverNibM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverNibM__line-height: 1.25;
    }
}

@media (min-width: 1049px) {
    .web-app-emotion-cache-1am54wq {
        --rh__type-palette__bookCoverCapsuleM__font-size: 64px;
        --rh__type-palette__bookCoverCapsuleM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverCapsuleM__line-height: 1.25;
        --rh__type-palette__bookCoverNibM__font-size: 64px;
        --rh__type-palette__bookCoverNibM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverNibM__line-height: 1.25;
    }
}

.web-app-emotion-cache-ajlk3m {
    --rh__text-color: var(--rh__neutral-fg2);
    color: var(--rh__text-color);
    color-scheme: light;
}

@media (min-width: 1049px) {
    .web-app-emotion-cache-ajlk3m {
        --rh__type-palette__bookCoverCapsuleM__font-size: 64px;
        --rh__type-palette__bookCoverCapsuleM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverCapsuleM__line-height: 1.25;
        --rh__type-palette__bookCoverNibM__font-size: 64px;
        --rh__type-palette__bookCoverNibM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverNibM__line-height: 1.25;
    }
}

.web-app-emotion-cache-ksarv1 {
    --rh__text-color: var(--rh__primary-base);
    color: var(--rh__text-color);
    color-scheme: light;
}

@media (min-width: 1049px) {
    .web-app-emotion-cache-ksarv1 {
        --rh__type-palette__bookCoverCapsuleM__font-size: 64px;
        --rh__type-palette__bookCoverCapsuleM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverCapsuleM__line-height: 1.25;
        --rh__type-palette__bookCoverNibM__font-size: 64px;
        --rh__type-palette__bookCoverNibM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverNibM__line-height: 1.25;
    }
}

.web-app-emotion-cache-finv5o {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    background: none;
    border: 0px;
    font: inherit;
    padding: 0px;
    text-align: unset;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    text-decoration-color: var(--rh__primary-base);
    text-decoration-line: underline;
    text-underline-offset: 3px;
    --rh__primary-base: rgb(0, 0, 0);
    --rh__primary-hover: rgba(38, 38, 38, 1);
    --rh__primary-pressed: rgba(64, 64, 64, 1);
    --rh__primary-light-base: rgba(0, 0, 0, 0.3);
    --rh__primary-lightest-base: rgba(0, 0, 0, 0.1);
    --rh__semantic-positive-base: rgb(0, 200, 5);
    --rh__semantic-positive-light: rgba(0, 200, 5, 0.3);
    --rh__semantic-negative-base: rgb(255, 80, 0);
    --rh__semantic-negative-light: rgba(255, 80, 0, 0.3);
    --rh__semantic-success-base: rgb(0, 200, 5);
    --rh__semantic-success-light: rgba(0, 200, 5, 0.3);
    --rh__semantic-error-base: rgb(255, 80, 0);
    --rh__semantic-error-light: rgba(255, 80, 0, 0.3);
    --rh__semantic-scary-base: rgb(255, 80, 0);
    --rh__semantic-scary-light: rgba(255, 80, 0, 0.3);
    --rh__primary-textOverlay: var(--rh__neutral-bg1);
    --rh__primary-light-textOverlay: var(--rh__primary-base);
    --rh__primary-lightest-textOverlay: var(--rh__primary-base);
    --rh-LEGACY__primary-color-hover: rgba(38, 38, 38, 1);
    --rh__text-color: var(--rh__primary-base);
    color: var(--rh__text-color);
    color-scheme: light;
}

@media (min-width: 1049px) {
    .web-app-emotion-cache-finv5o {
        --rh__type-palette__bookCoverCapsuleM__font-size: 64px;
        --rh__type-palette__bookCoverCapsuleM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverCapsuleM__line-height: 1.25;
        --rh__type-palette__bookCoverNibM__font-size: 64px;
        --rh__type-palette__bookCoverNibM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverNibM__line-height: 1.25;
    }
}

.web-app-emotion-cache-finv5o:hover {
    --rh__primary-base: rgba(38, 38, 38, 1);
    --rh__primary-light-base: rgb(0, 0, 0);
    --rh__primary-lightest-base: rgb(0, 0, 0);
    --rh__primary-textOverlay: var(--rh__neutral-bg1);
    --rh__primary-light-textOverlay: var(--rh__neutral-bg1);
    --rh__primary-lightest-textOverlay: var(--rh__neutral-bg1);
    color: var(--rh__text-color);
}

.web-app-emotion-cache-finv5o:active {
    --rh__primary-base: rgba(64, 64, 64, 1);
    --rh__primary-light-base: rgba(38, 38, 38, 1);
    --rh__primary-lightest-base: rgba(38, 38, 38, 1);
    --rh__primary-textOverlay: var(--rh__neutral-bg1);
    --rh__primary-light-textOverlay: var(--rh__neutral-bg1);
    --rh__primary-lightest-textOverlay: var(--rh__neutral-bg1);
    color: var(--rh__text-color);
}

@media (min-width: 1049px) {
    .web-app-emotion-cache-finv5o {
        --rh__type-palette__bookCoverCapsuleM__font-size: 64px;
        --rh__type-palette__bookCoverCapsuleM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverCapsuleM__line-height: 1.25;
        --rh__type-palette__bookCoverNibM__font-size: 64px;
        --rh__type-palette__bookCoverNibM__letter-spacing: -1.33px;
        --rh__type-palette__bookCoverNibM__line-height: 1.25;
    }
}

.web-app-emotion-cache-ym6pnu {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: calc(100vh - var(--rh-fixed-header-height, 0px));
    width: 100%;
}

.web-app-emotion-cache-1gmwthx {
    color: var(--rh__text-color);
}

.web-app-emotion-cache-1gmwthx > div {
    display: flex;
}


body:not(.no-focus-outline) input:focus + .web-app-emotion-cache-1qw2qz2 {
    box-shadow: 0 0 0 1px var(--rh__focus-inner-color), 0 0 0 4px var(--rh__focus-outer-color);
}

input:hover + .web-app-emotion-cache-1qw2qz2, .web-app-emotion-cache-1qw2qz2:hover {
    background-color: var(--rh__primary-hover);
}

.web-app-emotion-cache-1qw2qz2 {
    border-radius: 2px;
    box-sizing: border-box;
    height: 16px;
    width: 16px;
    background-color: var(--rh__primary-base);
    border: none;
}

.web-app-emotion-cache-dsi2ye {
    display: flex;
    height: 16px;
    width: 16px;
}

.web-app-emotion-cache-gvsqlw {
    display: inline-flex;
    --rh__text-color: var(--rh__neutral-bg1);
    color: var(--rh__text-color);
    color-scheme: light;
}

.web-app-emotion-cache-1smisqx {
    will-change: height;
    margin-top: 12px;
}

.web-app-emotion-cache-lw0vnf {
    display: flow-root;
}

.web-app-emotion-cache-sdhsq1 {
    -webkit-box-align: center;
    align-items: center;
    background-color: var(--rh__neutral-bg2);
    border-radius: var(--rh__size-palette__borderRadius);
    box-sizing: border-box;
    display: flex;
    padding: var(--rh__size-palette__gutterWidth);
    width: 100%;
    --rh__primary-base: rgb(0, 0, 0);
    --rh__primary-hover: rgba(38, 38, 38, 1);
    --rh__primary-pressed: rgba(64, 64, 64, 1);
    --rh__primary-light-base: rgba(0, 0, 0, 0.3);
    --rh__primary-lightest-base: rgba(0, 0, 0, 0.1);
    --rh__semantic-positive-base: rgb(0, 200, 5);
    --rh__semantic-positive-light: rgba(0, 200, 5, 0.3);
    --rh__semantic-negative-base: rgb(255, 80, 0);
    --rh__semantic-negative-light: rgba(255, 80, 0, 0.3);
    --rh__semantic-success-base: rgb(0, 200, 5);
    --rh__semantic-success-light: rgba(0, 200, 5, 0.3);
    --rh__semantic-error-base: rgb(255, 80, 0);
    --rh__semantic-error-light: rgba(255, 80, 0, 0.3);
    --rh__semantic-scary-base: rgb(255, 80, 0);
    --rh__semantic-scary-light: rgba(255, 80, 0, 0.3);
    --rh__primary-textOverlay: var(--rh__neutral-bg1);
    --rh__primary-light-textOverlay: var(--rh__primary-base);
    --rh__primary-lightest-textOverlay: var(--rh__primary-base);
    --rh-LEGACY__primary-color-hover: rgba(38, 38, 38, 1);
    --rh__neutral-fg1: rgb(0, 0, 0);
    --rh__neutral-fg2: rgb(106, 114, 120);
    --rh__neutral-fg3: rgb(180, 189, 194);
    --rh__neutral-bg3: rgb(227, 233, 237);
    --rh__neutral-bg2: rgb(245, 248, 250);
    --rh__neutral-bg1: rgb(255, 255, 255);
    --rh__neutral-hover-fg1: rgba(38, 38, 38, 1);
    --rh__neutral-hover-fg2: rgba(128, 135, 140, 1);
    --rh__neutral-hover-fg3: rgba(191, 199, 203, 1);
    --rh__neutral-hover-bg1: rgba(242, 242, 242, 1);
    --rh__neutral-hover-bg2: rgba(233, 236, 237, 1);
    --rh__neutral-hover-bg3: rgba(216, 221, 225, 1);
    --rh__neutral-pressed-fg1: rgba(64, 64, 64, 1);
    --rh__neutral-pressed-fg2: rgba(143, 149, 154, 1);
    --rh__neutral-pressed-fg3: rgba(199, 206, 209, 1);
    --rh__neutral-pressed-bg1: rgba(230, 230, 230, 1);
    --rh__neutral-pressed-bg2: rgba(221, 223, 225, 1);
    --rh__neutral-pressed-bg3: rgba(204, 210, 213, 1);
    --rh__shadow__s1: rgba(0, 0, 0, 0.06);
    --rh__shadow__s2: rgba(0, 0, 0, 0.02);
    --rh__focus-inner-color: rgb(0, 127, 245);
    --rh__focus-outer-color: rgba(0, 127, 245, 0.25);
    --rh__type-palette__bookCoverCapsuleL__font-size: 72px;
    --rh__type-palette__bookCoverCapsuleL__font-weight: 400;
    --rh__type-palette__bookCoverCapsuleL__letter-spacing: -2px;
    --rh__type-palette__bookCoverCapsuleL__line-height: 1.22;
    --rh__type-palette__bookCoverCapsuleL__stack: "Capsule Sans Book Cover", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__bookCoverCapsuleM__font-size: 56px;
    --rh__type-palette__bookCoverCapsuleM__font-weight: 400;
    --rh__type-palette__bookCoverCapsuleM__letter-spacing: -1.33px;
    --rh__type-palette__bookCoverCapsuleM__line-height: 1.22;
    --rh__type-palette__bookCoverCapsuleM__stack: "Capsule Sans Book Cover", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__bookCoverCapsuleS__font-size: 44px;
    --rh__type-palette__bookCoverCapsuleS__font-weight: 400;
    --rh__type-palette__bookCoverCapsuleS__letter-spacing: -1.33px;
    --rh__type-palette__bookCoverCapsuleS__line-height: 1.22;
    --rh__type-palette__bookCoverCapsuleS__stack: "Capsule Sans Book Cover", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__bookCoverNibL__font-size: 72px;
    --rh__type-palette__bookCoverNibL__font-weight: 300;
    --rh__type-palette__bookCoverNibL__letter-spacing: -2px;
    --rh__type-palette__bookCoverNibL__line-height: 1.22;
    --rh__type-palette__bookCoverNibL__stack: "Nib Pro Book Cover", Georgia, serif;
    --rh__type-palette__bookCoverNibM__font-size: 56px;
    --rh__type-palette__bookCoverNibM__font-weight: 300;
    --rh__type-palette__bookCoverNibM__letter-spacing: -1.33px;
    --rh__type-palette__bookCoverNibM__line-height: 1.22;
    --rh__type-palette__bookCoverNibM__stack: "Nib Pro Book Cover", Georgia, serif;
    --rh__type-palette__bookCoverNibS__font-size: 44px;
    --rh__type-palette__bookCoverNibS__font-weight: 300;
    --rh__type-palette__bookCoverNibS__letter-spacing: -1px;
    --rh__type-palette__bookCoverNibS__line-height: 1.22;
    --rh__type-palette__bookCoverNibS__stack: "Nib Pro Book Cover", Georgia, serif;
    --rh__type-palette__displayCapsuleL__font-size: 32px;
    --rh__type-palette__displayCapsuleL__font-weight: 500;
    --rh__type-palette__displayCapsuleL__letter-spacing: -0.33px;
    --rh__type-palette__displayCapsuleL__line-height: 1.25;
    --rh__type-palette__displayCapsuleL__stack: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__displayCapsuleM__font-size: 24px;
    --rh__type-palette__displayCapsuleM__font-weight: 500;
    --rh__type-palette__displayCapsuleM__letter-spacing: -0.1px;
    --rh__type-palette__displayCapsuleM__line-height: 1.35;
    --rh__type-palette__displayCapsuleM__stack: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__displayCapsuleS__font-size: 21px;
    --rh__type-palette__displayCapsuleS__font-weight: 500;
    --rh__type-palette__displayCapsuleS__letter-spacing: -0.1px;
    --rh__type-palette__displayCapsuleS__line-height: 1.35;
    --rh__type-palette__displayCapsuleS__stack: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__displayNibL__font-size: 32px;
    --rh__type-palette__displayNibL__font-weight: 300;
    --rh__type-palette__displayNibL__letter-spacing: -0.33px;
    --rh__type-palette__displayNibL__line-height: 1.25;
    --rh__type-palette__displayNibL__stack: "Nib Pro Display", Georgia, serif;
    --rh__type-palette__displayNibM__font-size: 24px;
    --rh__type-palette__displayNibM__font-weight: 400;
    --rh__type-palette__displayNibM__letter-spacing: -0.33px;
    --rh__type-palette__displayNibM__line-height: 1.35;
    --rh__type-palette__displayNibM__stack: "Nib Pro Display", Georgia, serif;
    --rh__type-palette__displayNibS__font-size: 21px;
    --rh__type-palette__displayNibS__font-weight: 400;
    --rh__type-palette__displayNibS__letter-spacing: -0.1px;
    --rh__type-palette__displayNibS__line-height: 1.35;
    --rh__type-palette__displayNibS__stack: "Nib Pro Display", Georgia, serif;
    --rh__type-palette__textL__font-size: 18px;
    --rh__type-palette__textL__font-weight: 400;
    --rh__type-palette__textL__letter-spacing: -0.25px;
    --rh__type-palette__textL__line-height: 1.53;
    --rh__type-palette__textL__stack: "Capsule Sans Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__textLBold__font-size: 18px;
    --rh__type-palette__textLBold__font-weight: 700;
    --rh__type-palette__textLBold__letter-spacing: -0.25px;
    --rh__type-palette__textLBold__line-height: 1.53;
    --rh__type-palette__textLBold__stack: "Capsule Sans Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__textM__font-size: 15px;
    --rh__type-palette__textM__font-weight: 400;
    --rh__type-palette__textM__letter-spacing: -0.1px;
    --rh__type-palette__textM__line-height: 1.6;
    --rh__type-palette__textM__stack: "Capsule Sans Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__textMBold__font-size: 15px;
    --rh__type-palette__textMBold__font-weight: 700;
    --rh__type-palette__textMBold__letter-spacing: -0.1px;
    --rh__type-palette__textMBold__line-height: 1.6;
    --rh__type-palette__textMBold__stack: "Capsule Sans Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__textS__font-size: 13px;
    --rh__type-palette__textS__font-weight: 400;
    --rh__type-palette__textS__letter-spacing: -0.1px;
    --rh__type-palette__textS__line-height: 1.53;
    --rh__type-palette__textS__stack: "Capsule Sans Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__type-palette__textSBold__font-size: 13px;
    --rh__type-palette__textSBold__font-weight: 700;
    --rh__type-palette__textSBold__letter-spacing: -0.1px;
    --rh__type-palette__textSBold__line-height: 1.53;
    --rh__type-palette__textSBold__stack: "Capsule Sans Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --rh__size-palette___experimentalAnchorTableStickyHeaderZIndex: 1;
    --rh__size-palette___experimentalModalZIndex: 301;
    --rh__size-palette___experimentalNavBarZIndex: 100;
    --rh__size-palette___experimentalPopoverZIndex: 1;
    --rh__size-palette___experimentalSelectMenuZIndex: 500;
    --rh__size-palette___experimentalToastZIndex: 600;
    --rh__size-palette__borderRadius: 4px;
    --rh__size-palette__buttonHeight: 44px;
    --rh__size-palette__cellHeight: 48px;
    --rh__size-palette__cellHeightLg: 60px;
    --rh__size-palette__cellHeightSm: 36px;
    --rh__size-palette__gutterWidth: 12px;
    --rh__size-palette__gutterWidthSm: 8px;
    --rh__size-palette__gutterWidthXs: 4px;
    --rh__size-palette__largeInputPadding: 20px;
    --rh__text-color: var(--rh__neutral-fg1);
    color: var(--rh__text-color);
    color-scheme: light;
}

.web-app-emotion-cache-17hnghz {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    padding-left: var(--rh__size-palette__gutterWidth);
    padding-right: 0px;
}

.web-app-emotion-cache-1xmir16 {
    --rh__text-color: var(--rh__neutral-fg1);
    color: var(--rh__text-color);
    color-scheme: light;
}

.css-y3z1hq {
    margin: 0px;
    color: var(--rh__text-color);
    font-family: var(--rh__type-palette__textS__stack);
    font-size: var(--rh__type-palette__textS__font-size);
    font-style: normal;
    font-weight: var(--rh__type-palette__textS__font-weight);
    letter-spacing: var(--rh__type-palette__textS__letter-spacing);
    line-height: var(--rh__type-palette__textS__line-height);
    text-decoration: unset;
}

button:disabled {
    cursor: not-allowed;
}

.web-app-emotion-cache-skipym.errorButton:hover,
.web-app-emotion-cache-skipym.errorButton:active {
    background-color: #faebd7;
    opacity: .7;
}


@media (max-width: 768px) {
    .web-app-emotion-cache-skipym {
        width: 100%;
    }
}

@font-face {
    font-family: Capsule Sans Text;
    font-style: normal;
    font-weight: 400;
    src: url(60bcae8ff7789bcc9bb6.woff2) format("woff2"), url(8ba279fa6846f41bb219.woff) format("woff");
}

@font-face {
    font-family: Capsule Sans Text;
    font-style: italic;
    font-weight: 400;
    src: url(34bc733e4e03b9fa676b.woff2) format("woff2"), url(acf0a1380c5e6340df91.woff) format("woff");
}

@font-face {
    font-family: Capsule Sans Text;
    font-style: normal;
    font-weight: 500;
    src: url(d42445759c3647b49112.woff2) format("woff2"), url(eae2cabcf8266bed9e32.woff) format("woff");
}

@font-face {
    font-family: Capsule Sans Text;
    font-style: italic;
    font-weight: 500;
    src: url(7e8e6007e581e7a9d0bc.woff2) format("woff2"), url(40416c8b023005e755a9.woff) format("woff");
}

@font-face {
    font-family: Capsule Sans Text;
    font-style: normal;
    font-weight: 700;
    src: url(e7e5ffb53619c57eb9f0.woff2) format("woff2"), url(ba3ebea0939580614269.woff) format("woff");
}

@font-face {
    font-family: Capsule Sans Text;
    font-style: italic;
    font-weight: 700;
    src: url(fe675efc8c703559f49c.woff2) format("woff2"), url(12e458f104c66e189644.woff) format("woff");
}